* {
<<<<<<< HEAD
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.item {
  color          : #fff;
  text-decoration: none;
}

.active {
  color: #D4D4AA;
=======
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.item {
    color          : #fff;
    text-decoration: none;
}

.active {
    color: #D4D4AA;
>>>>>>> d15720a459c0c58cca86f3a9ba2c631ca8d4f844
}